.wrapper {
	position: relative;
	height: 100vh;
	background: #0d0d0d;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.particles {
	position: absolute !important;
	inset: 0;
	z-index: 0;
}

.title {
	font-size: 4rem;
	font-weight: 700;
	z-index: 1;
	text-align: center;
}

.subtitle {
	font-size: 2rem;
	margin-top: 0.5rem;
	z-index: 1;
	text-align: center;
}

.author {
	margin-top: 1rem;
	font-size: 2rem;
	color: #888;
	z-index: 1;
	text-align: center;
}
